<article class="card">
  <h3>{{ pokemon.name }}</h3>
  <p>{{ pokemon.description }}</p>
  <fieldset>
    <legend>Types</legend>
    @for (type of pokemon.types; track type) {
      <p>{{ type | uppercase }} </p>
    }
  </fieldset>
  <fieldset>
    <legend>Attaques</legend>
    @for (attack of pokemon.attacks; track attack) {
      <p>{{ attack.name }}</p>
      <p>{{ attack.description }}</p>
      <p>{{ attack.damage.toString() }}</p>
    }
  </fieldset>
  <fieldset>
    <legend>Zone</legend>
    <p>{{ pokemon.area.name }}</p>
    <p>{{ pokemon.area.region }}</p>
  </fieldset>
  <button (click)="removePokemon()">Supprimer</button>
</article>



