<nav>
  <ul>
    <li>
      <a routerLink="/">Accueil</a>
    </li>
    <li>
      <a routerLink="/presentation">Présentation</a>
    </li>
    <li>
      <a routerLink="/blocks">Blocks</a>
    </li>
    <li>
      <a routerLink="/pipes">Pipes</a>
    </li>
    <li>
      <a routerLink="/formulaire">Formulaires</a>
    </li>
    <li>
      <a routerLink="/formations">Formations</a>
    </li>
    <li>
      <a routerLink="/parent">Parent</a>
    </li>
    <li>
      <a routerLink="/admin">Admin</a>
    </li>
    <li>
      <a routerLink="/http">HTTP Request</a>
    </li>
    <li>
      <a routerLink="/trash">TrashBag API (CRUD)</a>
    </li>
  </ul>
</nav>
